*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(200, 220, 231);
    color: #000;
    font-family: 'Poppins';
    padding: 14em 14em 14em 20em;
}

// .circle {
//     position: absolute;
//     top: 200px;
//     left: 200px;
//     width: 400px;
//     height: 400px;
//     background: rgb(160, 59, 255);
//     border-radius: 50%;
//     z-index: -1;
// }

.main-image {
    position: absolute;
    z-index: -10;
    height: 100vh;
    top: 0;
    left: 0;
}

.container {
    display: inline-block;
    background: rgba(255, 255, 255, .2);
    padding: 3em;
    border-radius: 3em;
    position: relative;
    z-index: 1;
    backdrop-filter: blur(30px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, .03);

    h2 {
        font-size: 1.75rem;
    }
}

.main-heading {
    font-size: 4rem;
    clip-path: inset(0 0 0 0);
}